.title-bar {
    width: calc(100vw - 2em);
    padding: 0.5em 1em;
    border-bottom: solid 2px black;
    display: flex;
    align-items: center;
}

#graph-list {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    flex-wrap: wrap;
}

.graph {
    width: 7em;
    text-align: center;
}

.graph img {
    width: 100%;
}

#search-bar {
    flex-grow: 1;
}

.icon-link span {
    font-size: 2em;
    margin: auto 0.25em;
}

.icon-link img {
    height: 2em;
    margin: auto 0.25em;
}