#property-controls {
    width: calc(100% - 3 * var(--sigma-controls-margin) - 1em);
    padding: 0.5em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.google-material-button {
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
}

.google-material-button:hover {
    background-color: #d0d0d0;
    border-radius: 100%;
}

.google-material-button:active {
    background-color: #aaa;
    border-radius: 100%;
}

.property-name {
    padding-right: 1ch;
}