#property-controls {
    width: calc(100% - 3 * var(--sigma-controls-margin) - 1em);
    padding: 0.5em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#add-attribute {
    cursor: pointer;
}

#add-attribute:hover {
    background-color: #d0d0d0;
    border-radius: 100%;
}

#add-attribute:active {
    background-color: #aaa;
    border-radius: 100%;
}